* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(140deg, rgb(249, 52, 95), rgb(93, 53, 176) 70%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 70%;
    height: 70%;
    background-image: linear-gradient(to right, rgb(177, 46, 51), rgb(31, 97, 183));
    box-shadow: 2px 2px 5px rgb(50, 50, 50);
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 55%;
    height: 95%;
    background-color: rgb(24, 24, 24);
    display: flex;
    flex-direction: column;
    align-items: center;
}

form h3 {
    color: white;
    padding: 2rem 0 0.5rem 0;
    font-size: 2.4rem;
    font-weight: 200;
}

form h5 {
    color: gray;
    font-size: 0.9rem;
    padding-bottom: 0.9rem;
    font-weight: 500;
}

form input {
    width: 50%;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    background: none;
}

form input[type="text"], input[type="password"] {
    border: 3px solid rgb(44, 72, 96);
    margin: 10px 0;
}

form a {
    color: gray;
    text-decoration: none;
    padding-bottom: 10px;
}

form input[type="submit"] {
    border: 3px solid rgb(65, 105, 79);
    width: 25%;
    color: white;
}

form i {
    color: white;
    padding: 20px 20px;
}

@media only screen and (max-width: 800px) {
    .container {
        background: none;
    }

    form {
        width:100%;
        height: 100%;
    }
}